@charset "UTF-8";

* {
    box-sizing: border-box;
}

.container {
    border: 1px solid rgb(221, 0, 74);
    width: 70%;
    padding: 1rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item {
    background: rgb(221, 0, 74);
    color: #fff;
    width: 22%;
    margin: 1rem 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

.item:nth-child(3n+1) {
    background: #FFF;
    color: rgb(221, 0, 74);
    border: 1px dashed rgb(221, 0, 74);
}


.item.circle {
    background: #fff;
    color: rgb(221, 0, 74);
    overflow: hidden;
    position: relative;
    transition-duration: .4s;
    z-index: 2;
}

.item.circle::after {
    background: rgb(221, 0, 74);
    border-radius: 50%;
    content: "";
    display: block;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 100%;
    height: 0;
    z-index: -1;
    transform: translateY(-50%) scale(0.1);
    transition: opacity .5s, transform 0s;
    transition-delay: 0s, .4s;
}

.item.circle:hover {
    color: #fff;
}

.item.circle:hover::after {
    opacity: 1;
    transform: translateY(-50%) scale(1.1);
    transition-delay: 0s;
    transition: opacity .8s, transform .6s ease-in-out;
}


/*  */

.c-btn {
    cursor: pointer;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

.c-btn {
    background: #ff701e;
    border: 2px solid #ff701e;
    border-radius: 60px;
    color: #fff;
    display: block;
    font-weight: bold;
    max-width: 300px;
    padding: 15px 40px;
    text-align: center;
}

.c-btn.circle {
    background: #fff;
    color: #ff701e;
    overflow: hidden;
    position: relative;
    transition-duration: .4s;
    z-index: 2;
}

.c-btn.circle::after {
    background: #ff701e;
    border-radius: 50%;
    content: "";
    display: block;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 100%;
    height: 0;
    z-index: -1;
    transform: translateY(-50%) scale(0.1);
    transition: opacity .5s, transform 0s;
    transition-delay: 0s, .4s;
}

.c-btn.circle:hover {
    color: #fff;
}

.c-btn.circle:hover::after {
    opacity: 1;
    transform: translateY(-50%) scale(1.1);
    transition-delay: 0s;
    transition: opacity .8s, transform .6s ease-in-out;
}