@charset "UTF-8";

*{
    box-sizing: border-box;
}

.container {
    border:1px solid rgb(221, 0, 74);
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.item {
    background: rgb(221, 0, 74);
    color: #fff;
    margin: 10px 0;
    width: 23%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

}