@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Flexbox */
.container {
    border: 1px solid rgb(221, 0, 74);
    width: 70%;
    padding: 1rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item {
    background: rgb(221, 0, 74);
    color: #fff;
    width: 22%;
    margin: 1rem 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

.item:nth-child(3n+1) {
    background: #FFF;
    color: rgb(221, 0, 74);
    border: 1px dashed rgb(221, 0, 74);
}


.item.circle {
    background: #fff;
    color: rgb(221, 0, 74);
    overflow: hidden;
    position: relative;
    transition-duration: .4s;
    z-index: 2;
}

.item.circle::after {
    background: rgb(221, 0, 74);
    border-radius: 50%;
    content: "";
    display: block;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 100%;
    height: 0;
    z-index: -1;
    transform: translateY(-50%) scale(0.1);
    transition: opacity .5s, transform 0s;
    transition-delay: 0s, .4s;
}

.item.circle:hover {
    color: #fff;
}

.item.circle:hover::after {
    opacity: 1;
    transform: translateY(-50%) scale(1.1);
    transition-delay: 0s;
    transition: opacity .8s, transform .6s ease-in-out;
}


/*  */

.c-btn {
    cursor: pointer;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

.c-btn {
    background: #ff701e;
    border: 2px solid #ff701e;
    border-radius: 60px;
    color: #fff;
    display: block;
    font-weight: bold;
    max-width: 300px;
    padding: 15px 40px;
    text-align: center;
}

.c-btn.circle {
    background: #fff;
    color: #ff701e;
    overflow: hidden;
    position: relative;
    transition-duration: .4s;
    z-index: 2;
}

.c-btn.circle::after {
    background: #ff701e;
    border-radius: 50%;
    content: "";
    display: block;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 100%;
    height: 0;
    z-index: -1;
    transform: translateY(-50%) scale(0.1);
    transition: opacity .5s, transform 0s;
    transition-delay: 0s, .4s;
}

.c-btn.circle:hover {
    color: #fff;
}

.c-btn.circle:hover::after {
    opacity: 1;
    transform: translateY(-50%) scale(1.1);
    transition-delay: 0s;
    transition: opacity .8s, transform .6s ease-in-out;
}

/* GRID */

.container_g{
    display: grid;
    width: 100%;
grid-template-columns: 1fr 1fr 1fr;
gap: 20px;
padding: 20px;
}

.item_g{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    background:skyblue;
    padding: 10px;
}

.item_g p{
    border:1px red solid;
    width: 100%;
}

/* test */

.test{
    width: 60%;
    margin: 4rem auto;
    border:1px solid pink;
    padding: 4rem;
}

.item_t{
    width: 50%;
    padding-top: 50%;
    background:pink;
    margin: 0 auto;
    position: relative;
}

.test_p{
    border:3px solid rgb(252, 133, 153);
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* test2 */
.test2{
    width: 300px;
    position: relative;
    margin: 3rem auto;
}

.test2 .item1{
    width: 300px;
    height: 200px;
    background:rgb(72, 161, 189);
}

.test2 .item2{
    background:#FFF;
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    left:0;
}

.test2 .item3{
    background:#FFF;
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
   right:0;
}