*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper{
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.item{
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.item:first-child{
    background-image: url("images/001.JPG");  
}

.item:nth-child(2){
    background-image: url("images/002.JPG");
}

.item:nth-child(3){
    background-image: url("images/003.JPG");
}

.item:nth-child(4){
    background-image: url("images/004.JPG");
}

.item:nth-child(5){
    background-image: url("images/005.JPG");
}

.item:nth-child(6){
    background-image: url("images/006.JPG");
}

